* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background: linear-gradient(var(--bgThemeLight), var(--bgThemeDark));
}

.title {
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background: url('./assets/snake.jpeg');
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}

.pane {
    height: 500px;
    width: 700px;
    position: relative;
    background: rgba(245, 245, 245, 0.5);
    border: 15px double var(--bgThemeXXDark);
    overscroll-behavior-y: contain;
}

.box {
    width: 10px;
    height: 10px;
    background-color: var(--bgThemeXXDark);
    border-radius: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

.msg {
    width: 33%;
    height: 150px;
    background: radial-gradient(var(--bgThemeXXLight),var(--bgThemeDark));
    position: absolute;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top:150px;
    z-index: 1;
    left: 33%;
    box-shadow: 0 0 10px;
}

#message {
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}

#score {
    height: 30px;
    width: 30px;
    font-size: x-large;
}

#start-btn {
    background-color: var(--bgThemeXXDark);
    color: white;
    width: 80px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px white;
}

#start-btn:hover {
    box-shadow: 0 0 5px 2px white;
}

.score-panel {
    width: 100px;
    height: 30px;
    background-color: var(--bgThemeXLight);
    border: 2px solid white;
    position: absolute;
    z-index: 1;
    top: 30px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    text-align: center;
    right: 50px;
    color: white;
    font-size: large;
}

.icon {
    background: url('./assets/settings.jpg');
    height: 30px;
    width: 30px;
    background-size: cover;
    border: 1px dotted green;
    cursor: pointer;
    box-sizing: border-box;
}

.close {
    color: white;
    background-color: red;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-weight: bolder;
    float: right;
}

.settings {
    height: 500px;
    width: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 100px 50vh rgb(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
    position: absolute;
    display: none;
    z-index: 2;
}
@media screen and (max-width:850px) {
    body{
        max-height: 100vh;
        min-height: 80%;
    }
    .pane {
        width: 90%;
    }
    .score-panel {
        width: 80px;
        top: 10px;
        right: 0;
    }
    .settings {
        height: 80vh;
        width: 80vw;
    }
}
/* shivu */
#settings-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}
#settings-form div {
    width: 50%;
}
#settings-form select {
    float: right;
    text-align: center;
    font-family: cursive;
    color: var(--bgThemeDark);
}
#settings-form select,input {
    min-width: 100px;
}
.save {
    width: 80px;
    height: 40px;
    background-color: var(--bgThemeXLight);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px white;
}
.save:hover {
    box-shadow: 0 0 10px white;
}

:root {
    --bgThemeLight: lightgreen;
    --bgThemeDark: green;
    --bgThemeXLight: limegreen;
    --bgThemeXXLight: greenyellow;
    --bgThemeXXDark: darkgreen;
}
